{% extends "base.html" %}

{% block content %}
    <div class="col-4 offset-4">
            <a href="/" class="btn btn-secondary mt-3">Go home</a>
            <div class="card mt-3">
                <div class="card-header">
                    <h4><a href="/{{ todo.id }}">{{ todo.name }}</a></h4>
                </div>
                <div class="card-body">
                    <p>It's due {{ todo.due_date }}</p>
                </div>
                <div class="card-footer">
                    <a href="/{{ todo.id }}/update" class="btn btn-secondary">
                    Update todo</a>
                    <a href="/{{ todo.id }}/delete" class="btn btn-secondary">
                    Delete todo</a>
                </div>
            </div>

    </div>  
{% endblock content %}




